<%- include ("templates/head.ejs") %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="Image/<%= Noticia.Imagen %>" alt="Costa Radio">
        </div>
    </div>
</div>
<h1 class="text-center"><%= Noticia.Title %></h1>
<h2><%= Noticia.Descripcion %></h2>

<%- include ("templates/footer.ejs") %>